.game-field {
  background-color: orange;
  min-height: 10vh;
  margin: 1px 1px 1px 1px;
  line-height: 10vh;
}

.target {
  background-color: green;
  color: white;
  font-size: 24pt;
  text-align: center;
}

.miss {
  background-color: royalblue;
  color: white;
  font-size: 24pt;
  text-align: center;
}

.penalty {
	background-color: lightseagreen;
	color: white;
  	font-size: 24pt;
  	text-align: center;
}

.warn{
	background-color: red;
	color: white;
  	font-size: 24pt;
  	text-align: center;
}